{
  "extends": ["eslint:recommended", "next", "prettier"],
  "rules": {
    "no-undef": "off",
    "@next/next/no-img-element": "off",
    "@next/next/link-passhref": "error",
    "no-unused-vars": "warn",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "newlines-between": "always"
      }
    ]
  }
}
