{
  "extends": ["next", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["no-relative-import-paths"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "off",
    "@next/next/no-img-element": "off",
    "@next/next/link-passhref": "error",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    //react
    "react/jsx-props-no-spreading": "off",
    "react/self-closing-comp": "warn",
    //import-rules
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "newlines-between": "always"
      }
    ],
    "no-relative-import-paths/no-relative-import-paths": [
      "off",
      { "rootDir": "src", "allowSameFolder": true }
    ],
    "import/no-cycle": "error",
    "import/no-unused-modules": [
      "off",
      {
        "missingExports": true,
        "unusedExports": true,
        "ignoreExports": ["./src/pages"]
      }
    ]
  }
}
